<section itemscope itemtype="http://schema.org/Article">
<h1 itemprop="name">$title$</h1>
<section>
  <address class="inline-block">by <em itemprop="author">$author$</em></address> on <time itemprop="datePublished"><strong class="date">$date$</strong></time>
</section>
<section class="description">
    Archived in: $tags$
</section>
<hr />
<article itemprop="articleBody">
$body$
</article>

<script type="application/x-javascript" src="/static/js/google-code-prettify/prettify.js"></script>
<script type="application/x-javascript">
$(document).ready(function() {
  prettyPrint();
});
</script>
