<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$title$</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="BaconBounty, the salty and sweet affiliate management and payout software">
    <meta name="keywords" content="bacon, bounty, affiliate, management, saas">
    <meta name="viewport" content="width=device-width">
    
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="/static/css/default.css" />

    <script type="text/javascript" src="//use.typekit.net/hdy4yie.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
    var require = {
      baseUrl: 'static/scripts/js/',
      paths: {
        jquery:     'vendors/jquery/jquery',
        underscore: 'vendors/underscore-amd/underscore-min',
        backbone:   'vendors/backbone-amd/backbone-min',
        text:       'vendors/requirejs-text/text'
      }
    };
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js" data-main="main"></script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" data-spy="scroll">
    <header class="navbar navbar-fixed-top sspy">
      <div class="navbar-inner">
        <nav>
          <span itemscope itemtype="http://schema.org/WebPage">
            <a itemprop="url" class="brand" href="/">
              <span itemprop="name">BaconBounty</span>
            </a>
          </span>
        </nav>
      </div>
    </header>
    
    <section class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span8">
        $body$
        </div>
      </div>
    </section>
    <footer class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <small>&copy; BaconBounty</small>
        </div>
        <div class="span9 text-right">
          <small itemscope itemtype="http://schema.org/WebPage">
            <a itemprop="url" href="/articles">
              <span itemprop="name">Articles</span>
            </a> | 
            <a itemprop="url" href="/about">
              <span itemprop="name">About the Bacon</span>
            </a>
          </small>
        </div>
      </div>
    </footer>
    <script type="application/x-javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36493641-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </body>
</html>
